.DS_Store
*.DS_Store
.vscode
.idea
.code-workspace
.settings
.gradle

# Ignore all folder that name match list
dist
doc
build
out
bin

# Ignore all extensions that name match list
.idea
*.iml